{% extends 'base.html.twig' %}

{% block title %}ToDO List{% endblock %}

{% block body %}
<div class="content">
    <h1>ToDo List</h1>

    {{ form(todo_form) }}

    {% for todo in todos %}
        <div {{ stimulus_controller('todo') }} class="todo">
            <div {{ stimulus_target('todo', 'text') }} class="todo_text">{{ todo.text }}</div><!--
            --><button
                class="green_button"
                {{ stimulus_action('todo', 'update') }}
                {{ stimulus_target('todo', 'green') }}
                data-todo-id-param="{{ todo.id }}"
                data-todo-txt-param="{{ todo.text }}"><!--
                    -->Изменить<!--
            --></button><!--
            --><button
                class="red_button"
                {{ stimulus_action('todo', 'delete') }}
                {{ stimulus_target('todo', 'red') }}
                data-todo-id-param="{{ todo.id }}"
                data-todo-txt-param="{{ todo.text }}"><!--
                    -->Удалить<!--
            --></button>
        </div>
    {% endfor %}
</div>
{% endblock %}
