{% extends 'base.html.twig' %}

{% block title %}ToDO List{% endblock %}

{% block body %}
<div class="content">
    <h1>ToDo List</h1>

    {{ form(todo_form) }}

    {% for todo in todos %}
        <div {{ stimulus_controller('todo') }} class="todo">
            <div {{ stimulus_target('todo', 'text') }} class="todo_text">{{ todo.text }}</div><!--
            --><button class="redact_button">Изменить</button><!--
            --><button class="delete_button" {{ stimulus_action('todo', 'delete') }} data-todo-id-param="{{ todo.id }}">Удалить</button>
        </div>
    {% endfor %}
</div>
{% endblock %}
